<div class="nav-buttons">
  <button mat-raised-button color="primary" routerLink="/home">Home</button>
  <button mat-raised-button color="primary" routerLink="/chatbot">Chatbot</button>
  <button mat-raised-button color="primary" routerLink="/profile">My Profile</button>
  <button mat-raised-button color="primary" routerLink="/fitness-tracker">Fitness-Tracker</button>
</div>

<h2 class="section-title">CLUJ NEWS</h2>

<div class="filter-controls">
  <div>
    <label for="location">Location:</label>
    <select id="location" [(ngModel)]="selectedLocation">
      <option value="">All Locations</option>
      <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
    </select>
  </div>

  <div>
    <label for="sport">Sport:</label>
    <select id="sport" [(ngModel)]="selectedSport">
      <option value="">All Sports</option>
      <option *ngFor="let sport of sports" [value]="sport">{{ sport }}</option>
    </select>
  </div>

  <div>
    <label for="amateur">Amateur Competitions:</label>
    <input type="checkbox" id="amateur" [(ngModel)]="showAmateurCompetitions">
  </div>

    <button mat-raised-button color="accent" (click)="resetFilters()">Clear filters</button>
</div>

<div class="container news-section">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-10 mb-4" *ngFor="let article of filterArticles()">
      <div class="card news-card">
        <img [src]="article.imageUrl" alt="{{ article.title }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.contentSnippet }}</p>
          <a [href]="article.link" target="_blank" class="btn btn-outline-primary">Read More</a>        </div>
      </div>
    </div>
  </div>
</div>