<br>

<button mat-raised-button color="primary" routerLink="/home">
    Home
</button>
CLUJ NEWS
<div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card">
          <img src="https://ubt.s3.eu-west-3.amazonaws.com/media/images/2022/04/ciuXoP9jlbXMxniEezlkNscaCckJkNZ8zhQrIO4N.jpeg" alt="..." width="400" height="300">
          <div class="card-body">
            <h5 class="card-title">UBT pierde partida cu JL Bourg </h5>
            <p class="card-text">U-BT Cluj-Napoca a primit marți, 19 decembrie, vizita lui JL Bourg, iar formația franceză a obținut a patra victorie în fața campioanei României.</p>
            <p class="card-text">Elevii lui Frederic Fathoux au jucat excelent, având un procentaj de 60% de la distanță, și au oprit la timp revenirea gazdelor, câștigând cu 98 la 89.</p>
            <a href="https://baschet.ro/liga-nationala-de-baschet-masculin/stiri/mihai-silvasan-noi-le-am-hranit-aceasta-forma-buna-pe-care-au-avut-o" target="_blank">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2022/04/26/3362425-68728768-2560-1440.jpg" class="card-img-top" alt="..." width="400" height="300">
          <div class="card-body">
            <h5 class="card-title">U Cluj este pregatita pentru derby-ul cu CFR din aceasta seara.</h5>
            <p class="card-text">Partida va avea loc la ora 19:45 pe stadionul Dr. Constantin Radulescu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
