<div class="nav-buttons">
<button mat-raised-button color="primary" routerLink="/home">Home</button>
<button mat-raised-button color="primary" routerLink="/chatbot">Chatbot</button>
<button mat-raised-button color="primary" routerLink="/dashboard">News</button>
<button mat-raised-button color="primary" routerLink="/fitness-tracker">Fitness-Tracker</button>
</div>

<div class="profile-container">
  <h2 *ngIf="user">User Profile</h2>
  <div *ngIf="firebaseErrorMessage" class="error-message">{{ firebaseErrorMessage }}</div>

  <div *ngIf="user && !isEditing && userProfile">
    <p><strong>Display Name:</strong> {{ userProfile.displayName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Gender:</strong> {{ userProfile.gender === 'masculin' ? 'Masculine' : userProfile.gender === 'feminin' ? 'Feminine' : 'Prefer not to say' }}</p>
    <p><strong>Birthdate:</strong> {{ userProfile.birthDate | date:'dd/MM/yyyy' }}</p>
    <p><strong>Weight:</strong> {{ userProfile.weight }} kg</p>
    <p><strong>Height:</strong> {{ userProfile.height }} cm</p>
    <button (click)="enableEdit()">Edit Profile</button>
    <button (click)="showDeleteConfirmation()">Delete Account</button>
  </div>

  <div *ngIf="user && isEditing">
    <h3>Edit Profile</h3>
    <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
      <div>
        <label for="displayName">Display Name:</label>
        <input type="text" id="displayName" formControlName="displayName">
      </div>
      <div>
        <label for="gender">Gender:</label>
        <select id="gender" formControlName="gender">
          <option value="">Select</option>
          <option value="masculin">masculine</option>
          <option value="feminin">feminine</option>
          <option value="prefer_not_to_say">Prefer not to say</option>
        </select>
      </div>
  
      <div>
        <label for="birthDate">Birthdate:</label>
        <input type="date" id="birthDate" formControlName="birthDate" [attr.min]="'1925-01-01'" [attr.max]="'2015-12-31'">
      </div>
  
      <div>
        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" formControlName="weight">
      </div>
  
      <div>
        <label for="height">Height (cm):</label>
        <input type="number" id="height" formControlName="height">
      </div>
      <button type="submit" [disabled]="editForm.invalid">Save Changes</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>

  <div *ngIf="deleteConfirmationVisible" class="confirmation-dialog">
    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
    <button (click)="confirmDelete()">Confirm Delete</button>
    <button (click)="cancelDelete()">Cancel</button>
  </div>

  <div *ngIf="!user">
    <p>Loading user profile...</p>
  </div>
</div>